.header {
    padding-bottom: 15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 500;
}
::-moz-placeholder { /* Firefox 19+ */
  font-weight: 50;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: 500;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight: 500;
}

@media (min-width: 1200px) {
  .menuingles{
    margin-left: -30px;
  }
  .noscroll {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}